Папка для стилевых файлов.

--

Пример структуры файлов:

css/
| - style.css
| - [другие *.css файлы]

body,
.inner-page body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #ffffff;
    }
/** Активность логотипа - правильно?

.main-header-logo:link {
    opacity: 1;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}
*/

a {
    font: inherit;
    font-family: "Roboto";
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    list-style: none;
    }

.main-header {
    background-color: #eeeeee;
    }

.navigation-link {   
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.navigation-link:link {
    color: #000000; 
}

.navigation-link:hover {
    color: #fb565a;
}

.navigation-link:focus {
    opacity: 0.3;
}

.navigation-link:active {
    border-bottom: 2px solid #fb5559;
}

.slider-item h2,
.page-header h2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

p,
.features-item {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.button {
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.slider-item .button,
.promo-item .button {
    color: #ffffff;
    background-color: #fb5559;
}

.slider-item .button:link,
.veb-sites .button:link,
.contacts .button,
.modal {
    background-color: #fb5559;
}

.slider-item .button:hover,
.veb-sites .button:hover,
.social .button:hover {
    background-color: #e74246;
}

.slider-item .button:active,
.veb-sites .button:active,
.social .button:active {
    background-color: #d7363a;
}

.promo-item h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}

.attachment .button:link {
    background-color: #00c973;
}

.attachment .button:hover {
    background-color: #00bc6b;
}

.attachment .button:active {
    background-color: #00aa61;
}

.present .button:link {
    background-color: #efc749;
}

.present .button:hover {
    background-color: #eab434;
}

.present .button:active {
    color: #ffffff;
    background-color: #e5a722;
}

.features h3,
.modal h2 {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

b {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;  
}

.aside .top {
    font-size: 45px;
    line-height: 10px;
    color: #000000;
    font-weight: bold;
}

.aside .bottom {
    font: inherit;
    color: #283136;
}

.block-item:link {
    opacity: 0.2;
}

.block-item:hover {
    opacity: 1;
}

.block-item:active {
    opacity: 0.1;
}

.contacts {
    color: #666666;
    background-color: #ffffff;
}

.contacts h4,
.product-item {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    text-align: center;
} 



.social b {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.social p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.social-button:link {
    background-color: #ffffff;
} 

.modal {
    background-color: #e9e5dc;
}

.modal .help-block {
    font: inherit;
    color: #000000;
    font-weight: bold;
}

.modal input {
    font: inherit;
    background-color: #ffffff;
}

.modal input:link {
    color: #444444;
    opacity: 0.5; 
    border: 2px solid #d7dbdd; 
}

.modal input:hover {
    color: #444444;
    opacity: 0.5;
    border: 2px solid #b3b8bb;
}

.modal input:focus {
    color: #444444;
    border: 2px solid #000000;
}

.modal input:invalid {
    color: #e74246;
    border: 2px solid #e74145;
}

.modal .submit-button {
    color: #ffffff;
    background-color: #fb5559;
}

.modal .close-button:link {
    color: #fecccd;
}

.modal .close-button:hover {
    color: #fb565a;
}

.modal .close-button:active {
    color: #ffeeee;
}

.filter {
    border: none;
}

.short-title {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}

.range-controls,
.filter .submit-button:link,
.pagination-link:link {
    background-color: #ededed;
}

.sort-link:focus,
.sort-link:active {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.sort-link:link {
    opacity: 0.3;
}

.sort-link:hover {
    opacity: 0.6;
}

.filter-option .desc,
.filter-option .check {
    font-size: 16px;
    line-height: 20px;
}

.input-radio .desc:link,
.input-radio .desc:disabled,
.input-checkbox .check:link,
.input-checkbox .check:hover,
.input-checkbox .check:disabled {
    color: #283136;
}

.input-radio .desc:hover {
    color: #000000;
}

.input-radio .desc:disabled,
.input-checkbox .check:disabled {
    opacity: 0.3;
}

.filter .submit-button:link
.filter .submit-button:hover,
.pagination-link:link,
.pagination-link:hover,
.pagination-link:active{
    font: inherit;
    color: #000000;
}

.filter .submit-button:hover,
.pagination-link:hover {
    background-color: #dfdfdf;
}

.filter .submit-button:focus,
.pagination-link:focus, {
    color: rgba(0,0,0,0.3);
    background-color: #d5d5d5;
    border-top: 2px solid #c0c0c0;
}

.pagination-link:active {
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
}


.product-link .button {
    font: inherit;
    color: #ffffff;
    text-align: center;
}

.product-link .button:link {
    background-color: #fb5559;
}

.product-link .button:hover {
    background-color: #e74246;
}

.product-link .button:focus {
    background-color: #d7363a;
}



 













    
    
    