html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    min-width: 1200px;
    background-color: #ffffff;
    }

a {
    font: inherit;
    font-family: "Roboto";
    text-align: center;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    }

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb5559;
    color: #ffffff;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.site-navigation,
.promo-list,
.features-list,
.social-list,        /* все <ul> */
.radio,
.checkbox,
.sort-title,
.product-info,
.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header,
.page-header,
.product-link {
    background-color: #eeeeee;
}

.main-logo-container,
.page-header-container {
    width: 1200px;
    padding: 0 20px;
    outline: 1px solid green;
    margin: 0 auto;
}

.header-logo { 
    opacity: 1;
    margin-right: 200px;
}

.header-logo:hover,
.header-logo:focus {
    opacity: 0.8;
}

.header-logo:active {
    opacity: 0.3;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.site-navigation {
    display: flex;
    align-items: flex-end;
    padding: 0;
    flex-grow: 2;
}

.site-navigation li:not(:last-child) {
    margin-right: 45px;    
}                        

.site-navigation li:last-child {
    margin-left: auto;
}

.navigation-link {   
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: inherit;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #fb565a;
}

.visually-hidden {
border: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
white-space: nowrap;
}
                                        /*Начало слайдера*/

.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}

.slider-item {
    display: flex;
    justify-content: space-between;
}

.slider-text {
    width: 380px;
    margin: 0;
}

.slider-item h2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;
}

.slider-item p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-bottom: 40px;   /*не работает*/
}

.slider-button {
    padding: 18px 55px 14px;
    margin-bottom: 77px;
}

/*
  background-image: url("../img/nerds-index-slide1.png");  */
  
                                                   /*Конец слайдера*/

.promo-container {    
    width: 1200px;
    padding: 80px 20px;
    outline: 1px solid red;
    margin: 0 auto;
}

.promo-list {
    display: flex;
    padding: 0;
}

.veb-sites,
.attachment {
    margin-right: 100px;
}

.present {
    margin-right: auto;
}

.promo-illustration {
    margin-bottom: 26px;
}

.promo-item h3 {
    margin-bottom: 10px;
}

.promo-item p {
    margin-bottom: 32px;
}

.promo-item h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}

.promo-button {
    padding: 17px 40px 10px;
}

.attachment .button {
    background-color: #00c973;
}

.attachment .button:hover,
.attachment .button:focus {
    background-color: #00bc6b;
}

.attachment .button:active {
    background-color: #00aa61;
}

.present .button {
    background-color: #efc749;
}

.present .button:hover,
.present .button:focus {
    background-color: #eab434;
}

.present .button:active {
    background-color: #e5a722;
}

.studio-container {
    width: 1200px;
    padding: 50px 20px 40px 20px;
    outline: 1px solid red;      
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.studio-features {
    width: 660px;
}

.studio-features h3 {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 30px;
}

.studio-features p {
    margin-bottom: 40px;
}

.studio-features b {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: bold; 
    margin-bottom: 30px;         /*не реагирует*/
}

.features-item {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-bottom: 25px;
}

.aside {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.aside b {
    margin-bottom: 45px;
}

.aside-top {
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;      /*не реагирует*/
}

.aside-bottom {
    font: inherit;
    color: #283136;
}

.aside-illustration {
    margin-bottom: 40px;
}

.block-container {
    width: 1200px;
    padding: 0 20px;
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block-item {
    opacity: 0.2;
}

.block-item:hover,
.block-item:focus {
    opacity: 1;
}

.block-item:active {
    opacity: 0.1;
}

.map {
    background: url("../img/map.jpg") no-repeat center;   /*высота 416-310=106:2=53*/   
}

.map-container {
    width: 1200px;
    padding: 53px 20px;
    outline: 1px solid red;
    margin: 0 auto;   
}

.contacts {
    width: 320px;
    background-color: #ffffff;
    outline: 1px solid red; 
    padding: 45px 50px;
    color: #666666; 
}

.contacts h4 {
    margin-bottom: 30px;
}

.contacts p {
    margin-bottom: 20px;
}

.telephone {
    margin-bottom: 35px;
}

.button-contacts {
    padding: 17px 45px 14px;
}

.social-container {
    width: 1200px;
    padding: 0 20px; 
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;  
    align-items: center;
}

.social-list {
    display: flex;
    margin: auto 0;
    margin-right: ;  
    padding: 0;
}

.social-button {
    margin-right: 12px;
}

.social-text {
    text-align: left;
    vertical-align: middle;   
}

.social-text b {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.social-text p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.modal {
    background-color: transparent;
}

.modal-conteiner { 
    width: 960px;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 70px;
    padding-bottom: 85px;
    outline: 1px solid red;
    background-color: #ffffff;
}

.modal-contacts .help-block {
    font: inherit;   /*модальное Как поставить инпут под лейблом? бр?     +каталог 111строка*/
    color: #000000;
    font-weight: bold;
}

.modal-contacts input {
    font: inherit;
    color: #444444;
    opacity: 0.5; 
    border: 2px solid #d7dbdd;
    background-color: #ffffff;
}

.modal-contacts input:hover {
    border: 2px solid #b3b8bb;
}

.modal-contacts input:focus {
    border: 2px solid #000000;
}

.modal-contacts input:invalid {
    color: #e74246;
    border: 2px solid #e74145;
}

.close-button {
    color: #fecccd;
}

.close-button:hover,
.close-button:focus {
    color: #fb565a;
}

.close-button:active {
    color: #ffeeee;
}

.modal-batton {
    padding: 17px 85px 10px;
}

.page-header-title {
    width: auto;
    padding: 110px 0;
    outline: 1px solid red;
    margin: 0 autos;
    text-align: center;
}

.page-header-title h1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    margin: 0;
}

.filters-product-container {
    width: 1200px;
    padding: 0 20px;
    padding-bottom: 0;
    outline: 1px solid black;
    margin: 0 auto;
    display: flex;
}

.filter-box {
    width: 270px; 
    margin-top: 60px;
    margin-right: 140px;
    margin-bottom: auto;
    outline: 1px solid red;
    padding: 0;  
}

                                                  /*Фильтр Стоимость*/

.filter-item {
  margin: 0 auto 52px;
  padding: 0;
  border: none;
  
  /* Для демонстрации */
  width: 260px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative; 
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  margin-left: 20%; 
  width: 30%;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

                                                    /*Конец стоимости*/

.filter-radio {
    margin-bottom: 43px;
}

.filter-checkbox {
    margin-bottom: 48px;
}

.filter-sort {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.sort-title {
    display: flex;
}

.product-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}

.product-title {
    margin-bottom: 35px;
    
}

.product-link {
    width: 360px;              
    padding-top: 33px;
    padding-bottom: 43px;
    text-align: center;  
}

.product-item {
    margin-bottom: 20px;
}

.product-link p {
   margin-bottom: 30px; 
}

.filter {
    border: none;
}

.filter-link {
    margin-bottom: 60px;
}

.short-title {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}

.submit-button,
.pagination-link {
    background-color: #ededed;
    border: none;
}

.submit-button {
    padding: 17px 90px 14px;
}

.sort-produkt {
    outline: 1px solid red;
    margin-top: 60px;
}

.sort {
    outline: 1px solid red;
    padding: 0;
}

.sort-link {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}

.sort-link:hover {
    color: #000000;
    opacity: 0.6;
}

.sort-link:focus,
.sort-link:active {
    color: #000000;
}

.filter-option .desc,
.filter-option .check {
    font-size: 16px;
    line-height: 20px;
}

/*
.input-radio .desc,
.input-checkbox .check,
.input-checkbox .check:hover,
.input-checkbox .check:focus,
.input-checkbox .check:disabled,
.input-radio .desc:disabled {
    color: #283136;
}

.input-radio .desc:hover,
.input-radio .desc:focus {
    color: #000000;
}

.input-radio .desc:disabled,
.input-checkbox .check:disabled {
    opacity: 0.3;
}
*/

.submit-button,
.submit-button:hover,
.submit-button:focus,
.pagination-link,
.pagination-link:hover,
.pagination-link:focus {
    font: inherit;
    color: #000000;
}

.submit-button:hover,
.submit-button:focus,
.pagination-link:hover,
.pagination-link:focus {
    background-color: #dfdfdf;
}

.submit-button:active,
.pagination-link:active {
    color: rgba(0,0,0,0.3);
    background-color: #d5d5d5;
    border-top: 2px solid #c0c0c0;
}
/*
.pagination-link:active {
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
} Активный пункт в styleguide - тоже позже стили?
*/

.button-product {
    padding: 17px 60px 14px;
}

.button-product:hover,
.button-product:focus{
    background-color: #e74246;
}

.button-product:active {
    background-color: #d7363a;
}

.pagination-conteiner {
    width: 1200px;
    padding: 0 20px; 
    outline: 1px solid red;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 60px;
}

.pagination-list {
    outline: 1px solid red;
    display: flex;
    padding-left: 400px; 
}

.pagination-link {
    margin-right: 10px;
}



